main {
  margin: 20%;
  padding: 20%;
}

body {
  font-family: "Rubik", sans-serif;
}

#uvl-display {
  border-radius: 20px;
}

#select-city:hover,
#searchBtn:hover {
  background: rgba(255, 212, 156, 0.438);
  color: black;
}

